.register-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    width: 25%;
    height: 70%;
    margin-left: 40%;
    margin-top: 10%
    
  }
  .register-input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 80%;
    padding-left: 10%;
  
  }
  .register-button {
    padding: 10px;
    border-radius: 4px;
    background-color: #f37c14;
    color: white;
    cursor: pointer;
    width: 80%;
  }
  .login-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    width: 25%;
    height: 50vh;
    margin-left: 25%;
    margin-top: 10%;
    margin-left: 40%;
  }
  .login-input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 80%;
    height: 10%;
   align-items: center; 
   padding-left: 10%;

  }
  .login-button {
    padding: 10px;
    border-radius: 4px;
    background-color: #fd8e17;
    color: white;
    cursor: pointer;
    width: 80%;
  }
  h2 {
    text-align: center;
  }